<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= image_tag @user.avatar_url %>
</p>

<p>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize: "200x200") %>
  <% else %>
    <p>User does not have an avatar</p>
  <% end %>
</p>

<h2>Followers</h2>
<%= render 'display_users', users: @followers %>
<h2>Followings</h2>
<%= render 'display_users', users: @followings %>

<%= link_to 'Follow', follow_path(username: @user.username), method: :post %>

<% if @user == current_user %>
  <%= render 'posts/form',  post: @post %>
<% end %>

<h2>Posts</h2>
<ul>
  <% @user.posts.each do |post| %>
    <li><%= post.data %></li>
  <% end %>
</ul>
