<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @user.avatar_url %>
</p>
<h2>Followers</h2>
<% @followers.each do |follower| %>
  <%= follower.username || follower.id %>
<% end %>
<h2>Followings</h2>
<% @followings.each do |following| %>
  <%= following.username || following.id %>
<% end %>

<%= link_to 'Follow', follow_path(username: @user.username), method: :post %>
