<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :format %>
    <%= form.select(:format, Post.formats.keys) %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data, id: :post_data %>
  </div>
      
  <%= form.hidden_field :username, value: @user.username %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
